<section class='section'>
  <div class='container'>
    <div class='is-italic'>
      <h1 class='title'>
        <%= @species.latinName %>
      </h1>
    </div>
    <h2 class='subtitle'>
      <%= @species.commonName %>
    </h2>
    <div class='content'>
      <%= @species.description %>
    </div>
  </div>
</section>
